[2015-03-14 19:23] boazin opened #1 "OBJ-C example not compiling"
Didn't get into really knowing Swift yet, so I can't tell you why it fixes things, but in order for the `ObjCExample` successfully compile I changed
ln 898 in `KSTokenView.swift` to:
`cell!.textLabel!.text = (title != nil) ? title : "No Title"`

[2015-03-17 16:02] khawars commented on #1
Can you please share code of complete method?

[2015-03-17 16:44] boazin commented on #1
[code]

[2015-03-17 17:42] khawars commented on #1
Fixed in latest commit.
https://github.com/khawars/KSTokenView/commit/8e3da503dd2019903383227078b26f21566803d6

[2015-03-17 17:42] #1 closed

[2015-03-22 21:44] boazin opened #3 "how do I change the color (background/text) of the tokens"
Once again - awesome control!

(I'm using an Obj-C project)
I see I have a `@interface KSToken : UIControl`
but I don't know how to access it. The object I actually have in hand is `KSTokenView` and it has no such interface

Thanks

[2015-03-23 06:25] khawars commented on #3
@boazin ```KSTokenView``` is container class that contains all ```KSToken``` objects. You can access ```KSToken``` object reference, when you create it yourself and add it in ```KSTokenView``` container.
In Objective-C you can create ```KSToken``` using following constructors.
[code]
**Example:**
```KSToken *token = [[KSToken alloc] initWithTitle:"New Token" object:MY_CUSTOM_OBJECT_OR_NIL];```
You

[2015-03-23 06:25] #3 closed

[2015-03-23 07:12] boazin commented on #3
Yeah... but the `addToken(token)` is done internally (in `didSelectRowAtIndexPath` for example)
So I need some kind of an interface to tell `KSTokenView` to init them at a specific color

[2015-03-23 07:58] khawars commented on #3
```addToken(token)``` is publicly available ```KSTokenView``` class. You can do like:
```[self.tokenView addToken:token];```

[2015-03-23 08:02] boazin commented on #3
I see that, but I want the internal calls (called when the user types) to have a different color - so I need to set the color "in advance". You see my point?

[2015-03-23 10:39] khawars commented on #3
@boazin I couldn't understand. Can you explain in more detail what you are trying to accomplish? FYI, you can change the color of ```KSToken```, before or even after you add it in ```KSTokenView```.
Check the example project ```ProgrammaticallyExample```

[2015-03-23 11:41] boazin commented on #3
OK. I got the confusion. Take `ProgrammaticallyExample` as an example. When you click add token - it is my own code - cool.
But what I'm looking for - is when I click the control, type something and click Done (which tokenizes the input text) - to be gray instead of blue, and black text instead of white etc.
It would have been nice to control it somehow.

I think it requires a re-design...

[2015-03-23 14:55] khawars commented on #3
@boazin Got your point. I have updated the ```ProgrammaticallyExample``` example and ```KSTokenView``` class. Check the latest commit: https://github.com/khawars/KSTokenView/commit/153ad7bd64744091b965d7fb115808db4155ed19

[2015-03-26 16:21] jchesne opened #4 "I have problems with AutoLayout"
Hi,
I don't know why but when i set AutoLayout constraints left:0 top:0 right:0 height:30 for KSTokenView, the KSTokenView is larger than the superView :

![capture d ecran 2015-03-26 a 17 20 46](https://cloud.githubusercontent.com/assets/1859737/6850965/809cf330-d3dc-11e4-9c93-58f330865a4b.png)

Is there a bug or my fault ?

[2015-03-28 08:30] khawars commented on #4
@jchesne This seems to be a bug. I am looking into it. Will update ASAP.

[2015-03-28 09:20] jchesne commented on #4
Great ! Thanks in advance !

[2015-03-28 13:51] jchesne opened #5 "[Improvement] Split text with space"
Is it possible to tranform a text like this : Hello how are you. Into splited token ?
result : Hello,how,are,you (like the Pinterest app for iPad)

[2015-03-28 17:38] khawars commented on #5
@jchesne I am not sure what is the functionality of Pinterest app. I will check that on Monday.
For now I have updated code. Check the latest commit https://github.com/khawars/KSTokenView/commit/f9439e1c0ea672aa016d5df06328c646884e4a6f

Whenever some characters like " " or "," are pressed, token is created with previous text. There is property ```tokenizingCharacters```. You can add/remove any cha

[2015-03-28 17:54] jchesne commented on #5
@khawars Thanks a lot it's working !
But i think this line is not working properly ; if (contains(tokenizingCharacters, string) && olderText != KSTextEmpty)
If you write 2 space, you create one empty token, maybe the olderText != KSTextEmpty is not correct.

[2015-03-28 18:10] khawars commented on #5
FIXED. See latest commit https://github.com/khawars/KSTokenView/commit/f3d104da7c27f1b595523ea9db15eabc4b0b43d5
That was actually not empty token. That contained space characters.

[2015-03-28 18:13] jchesne commented on #5
You are fucking awesome ! Big thanks !

[2015-03-28 18:15] jchesne opened #6 "HorizontalExample bug"
Try to write this token : Hello how are you test
You will see that the test word is over the 'you' token until you press Done button.

And again, thanks for your effort !

[2015-03-28 18:31] khawars commented on #6
Thanks @jchesne to point out this. I will look into this on Monday.

[2015-03-28 18:31] #5 closed

[2015-04-04 17:41] boazin opened #7 "autocomplete TableView hides KSTokenField when adding tokens programatically"
When adding programatically - the autocomplete TableView is in a fixed y of 30 - it ignores the tokens that were inserted (the caret is in the correct location)

I tried to debug it a bit and got lost.

Steps to recreate:
1. ProgramaticallyExample project.
2. Do some add "Add Token Programmatically" clicks until you pass the first line of tokens.
3. Try and add a token by typing

Thanks.

[2015-04-05 05:42] khawars commented on #7
Thanks @boazin to point out. Fixed in latest commit https://github.com/khawars/KSTokenView/commit/e992d523b92a5d80e4d5a19e201ea6693c6ebfa3

[2015-04-05 05:42] #7 closed

[2015-04-07 11:48] khawars commented on #6
@jchesne Fixed in latest commit 7df6859c72fa3dedfe27ce56994b81e425b51946
If there is still issue, you can reopen it.

[2015-04-07 11:48] #6 closed

[2015-04-08 09:35] jchesne commented on #6
Fixed, big thanks !

[2015-05-03 17:13] cdf1982 opened #9 "Show all"
Good morning and thank you for your work, I just started looking at it but it looks exactly what I would have made myself, if I were able to... :)

This isn't actually an issue, more like a feature request... I see that the list of possible results is shown after at least 1 character is typed; I would love to show all possible results, let's say "unfiltered", when the user selects the view and has

[2015-05-11 10:34] khawars commented on #4
@jchesne Autolayout issue is fixed in latest commit 302dd4bd3e69393764cd58cec1ddb685c041371f. You can re-open if there is still any issue.

[2015-05-11 10:34] #4 closed

[2015-05-13 11:10] khawars commented on #9
Feature added in latest commit 7f6a3ed9e8e4c761a20545d993025edde9232962.
Just set ```minimumCharactersToSearch = 0```.
See example project ```AutolayoutExample```.
You can re-open if there is still any issue.

[2015-05-13 11:10] #9 closed

[2015-05-13 15:56] gautier-gdx opened #10 "Retain cycle from KSTokenViewDelegate"
Hi,

I think you forgot to make the KSTokenview delegate to weak on line 127 in KSTokenView.
This has make a retain cycle and now it's ok, by setting    "weak var delegate: KSTokenViewDelegate?"

Thank for your lib by the way, it's great

[2015-05-13 18:58] khawars commented on #10
@gautier-gdx thank you for pointing out. I'll update it probably tomorrow once i reach my computer.

[2015-05-14 13:36] khawars commented on #10
@gautier-gdx fixed in latest commit 89c7ce6d5bba73162c74c29e6b9bd5dba450f24f.
You can reopen if there is still any issue.

[2015-05-14 13:36] #10 closed

[2015-05-20 04:43] fealonelei opened #11 "import data from external VC"
If I have AViewController, and I put KSTokenView on BViewController.  I need segue some data in a dataArray from A to B, when B get it, it should tokenise all data into several token. Unfortunately, I could not figure out how-to.

[2015-05-20 10:26] fealonelei commented on #11
here is my code:

override func viewDidAppear(animated: Bool) {
        super.viewDidAppear(true)

        if count(tagsArray) > 0 {
            tokenView.becomeFirstResponder()

            for i in 0...(count(tagsArray) - 1) {
                if count(tagsArray) == 1 && tagsArray[0] == "" {
                } else {
                    let token = KSToken(title: tagsArray[i])

[2015-05-20 15:43] khawars commented on #11
@fealonelei I guess the KSTokenView is not properly initialized, before tokens are being added.
I'll look into this issue as soon as get to my work computer.

[2015-05-21 02:51] fealonelei commented on #11
My KSTokenView on BController is a view on xib, I set its outlet to code.
then,
      override func viewDidLoad(){
        tokenView.delegate = self
        tokenView.promptText = "    "
        tokenView.placeholder = "input more tags when click space "
        tokenView.maxTokenLimit = 20 //default is -1 for unlimited number of tokens
        tokenView.style = .Squared
        tokenView.font = U

[2015-06-03 09:18] khawars commented on #11
@fealonelei Issue is fixed in latest commit d7892e2d0f8cc0845a57d3d878ac8fb702fb5911
You can reopen the issue if there is still problem.

[2015-06-03 09:18] #11 closed

[2015-06-28 04:17] Horray opened #12 "Convert this to objective-c"
This isn't an issue, but this is the only way I have to contact you. My question, can you please translate this to objective-c? I don't know swift, and I want to be able to read this.

[2015-06-28 06:31] khawars commented on #12
@Horray you can still use it in your Objective-c project.
See Apple documentation on using Swift code in Objective-c.
There is also an example of using this control in Objective-c project.
There doesn't seem to be any need of translating to Objective-c.

[2015-06-28 06:31] #12 closed

[2015-06-28 07:03] Horray commented on #12
Thanks for the reply!

I want to be able to read it, since I can't read swift. I want it for my
own reference.

On Sat, Jun 27, 2015 at 11:31 PM, Khawar Shahzad <notifications@github.com>
wrote:

[2015-07-10 21:55] aslisabanci opened #13 "Cannot build the project using Cocoapods"
Hi there,
First of all thank you for open sourcing this component! :beers:

I added KSTokenView using Cocoapods to my project but it doesn't get compiled this way. I think the problem is that KSTokenView class is not visible to my app's target. To make sure of this, I changed the class's access identifier to be public (and made all other necessary changes) and then the project compiled.

Has anyon

[2015-07-14 12:58] senfi opened #14 "indentation on first token"
- build the Examples/SwiftExample/SwiftExample.xcodeproj project
- add a few token to get into the second line of tokens
There is a gap between the first token of the first line and the other first tokens of the other lines (see the added red line in attached screenshot)

Is this gap intented or a bug?
![indent](https://cloud.githubusercontent.com/assets/806859/8673660/b40a89c8-2a38-11e5-9f1b-317f

[2015-07-16 17:14] khawars commented on #14
@senfi issue if fixed in latest commit c8883847f87ae0dc3c3d22736d2827d653145e6c. You can re-open the issue if there is still any issue.

[2015-07-16 17:14] #14 closed

[2015-07-16 17:18] khawars commented on #13
@aslisabanci couldn't find such issue. Could you explain in more detail? What necessary changes were made to make it work?

[2015-07-17 14:23] senfi commented on #14
Works great. Thanks!

[2015-07-18 20:06] aslisabanci commented on #13
Hi @khawars

Here's how my podfile looks like:

    platform :ios, '8.0'
    use_frameworks!
    pod 'KSTokenView', '~> 1.2'

After running `pod install` , I'm trying to use KSTokenView in one of my classes by importing it as `import KSTokenView`

The project doesn't get compiled because KSTokenView entities are not accessible from my project. This must be because the needed entities aren't specif

[2015-07-19 09:38] khawars commented on #13
No need for `import KSTokenView` in Swift based projects.
In Objective-c project, it should be the format `#import "<ProductModuleName>-Swift.h"`
See example project `ObjCExample`. Where it is imported as `#import "ObjCExample-Swift.h"`.

[2015-07-19 11:20] aslisabanci commented on #13
My project is Swift based, so I'm importing it as `import KSTokenView`.
This is not the first time I'm importing a project through Cocoapods into my Swift project. If I don't write `import ...`,the project cannot access the entities inside other frameworks and it cannot build the project.

[2015-07-19 14:36] gautier-gdx commented on #13
Hi,

Usually you don't need to use any import using Cocoapods for swift project. I might be wrong but you are forcing KSTokenView to be used as a framework, can you try updating your pod without the line
use_frameworks! in your podfile?

[2015-07-19 17:26] aslisabanci commented on #13
Hi @gautier-gdx ,

I tried that too, but here's what Cocoapods gives as an error, when you try to integrate a pod written in Swift, without `use_frameworks!` statement:

    $ pod install
    Analyzing dependencies
    Downloading dependencies
    Installing KSTokenView (1.2.8.3)
    [!] Pods written in Swift can only be integrated as frameworks; this feature is still in beta. Add `use_frameworks!

[2015-07-21 21:34] luvmiracles opened #15 "Is it possible to use a UITextField with your framework ?"
Sorry I'm not sure if I fully understand the usage of your code. I know am able to create a view as KSTokenView but is it possible to directly use a uitextfield instead as KSTokenField ?

Thanks

[2015-07-22 10:11] khawars commented on #15
`KSTokenField` is inherited from `UITextField`. If you want to directly access it just make it public in `KSTokenView` class.

[2015-07-22 10:11] #15 closed

[2015-07-23 03:02] luvmiracles commented on #15
Thank you for your help .

[2015-08-12 13:39] senfi opened #16 "Autolayout: grow KSTokenView to include UITableView"
When using Autolayout, is it possible to grow the height-constraint of the KSTokenView to include the table view and not just the tokens? I made an example to make clear what i mean: 4f289e3c4e56bcb56e09933151e3414506a0ff9d

The green UIView is below the KSTokenView and they are connected via a a "vertical space"-constraint. The green view moves down, when tokens are added, but it does not move be

[2015-08-13 11:19] khawars commented on #16
@senfi, currently there is no way to link search results tableview with any other external view element. You have to manually calculate the search result position and update external view. Here is a rough example

   func tokenView(tokenView: KSTokenView, didChangeFrame frame: CGRect) {
      var frame = myView.frame
      frame.origin.y = tokenView.frame.maxY+tokenView.searchResultSize.height

[2015-08-13 11:19] #16 closed

[2015-08-13 13:09] senfi commented on #16
Yeah, great idea. Thank you for your support! This should work.

[2015-08-18 09:08] boazin opened #18 "ObjC compiled code is failing in Xcode7-beta5"
Lots of errors, can't wrap my head around them.
Same errors are caused when trying to build ObjCExample.

If you don't mind taking a quick look into it. Thanks!

[2015-08-18 12:50] khawars commented on #18
@boazin which errors occur? Please explain in more detail with development environment.

[2015-08-18 13:12] boazin commented on #18
Well. I installed the latest xcode-beta iOS9 on my MAC, (xcode7-beta5) and tried `ObjCExample` project (after mine failed - I checked if yours if failing as well)

There are a lot of compilation errors (copying from log is the best I can provide):

[code]

[2015-08-18 17:21] khawars commented on #18
@boazin Xcode 7 contains Swift 2. Currently KSTokenView is not compatible with Swift 2. I'll soon download Xcode 7 and will make it compatible.

[2015-08-18 17:24] boazin commented on #18
Thank you. We started preparing for iOS9 so I'm guessing it is something
inevitable...
On 18 באוג 2015 20:22, "Khawar Shahzad" <notifications@github.com> wrote:

[2015-08-23 09:33] boazin commented on #18
Hey, any news? something I can assist with?

[2015-08-28 08:24] khawars commented on #18
@boazin I was super busy in last few days. The issue is fixed now. Please check latest commit fb08c27352764533334a8715e3a509b155be8007.
You can reopen the issue if it still exists.

[2015-08-28 08:24] #18 closed

[2015-08-28 11:21] boazin commented on #18
Thanks man! I even tried to learn swift with my busy schedule in order to pitch in and not be a burden...
(and clearly haven't made it yet)

Anyways - I still have 2 compilation errors (in ObjCExample project)

/Users/boazin/KSTokenView/KSTokenView/KSTokenView.swift:351:13: A non-failable initializer cannot chain to failable initializer 'init(coder:)' written with 'init?'
/Users/boazin/KSTokenView

[2015-08-31 14:05] boazin commented on #18
Just to update you - I tried it with the new xcode7 beta6 - some different errors, got stuck on `Command failed due to signal: Segmentation fault: 11`

I'm guessing we will wait to the GM version and then dive into the problems together...

[2015-09-11 06:48] senfi commented on #18
This issue is still present at GM in the Xcode 7-non-beta.
Seems like something in ```func tokenFieldShouldChangeHeight(height: CGFloat)``` in KSTokenView.swift.
If i put everything in this func into ```/* */``` and just return, the compiler compiles.

[2015-09-18 18:13] frodgers1207 opened #19 "Trying to Use KSTokenView with Cocoapods, XCode 7, and Swift 2"
I'm trying to use your project in my swift 2, xcode 7 project. I installed it in Cocoapods with

    platform :ios, '8.0'
    use_frameworks!
    pod 'KSTokenView'

it installed KSTokenView 1.3.0. The 1.3.0 version has almost 200 errors right now in my workspace. When I look in the podspec file it says that the s.version is 2.0.0. When I have tried to use that version and install `pod 'KSTokenView

[2015-09-18 18:47] khawars commented on #19
@frodgers1207 I'll fix this issue on Monday. However you can still use it by manually adding in your code.

[2015-09-18 18:51] frodgers1207 commented on #19
Okay thanks, I'll try again manually but I was getting a Segmentation fault: 11 when I tried manually.

[2015-09-18 18:54] khawars commented on #19
Yes, you are right. I still need to update it for Xcode 7. Unfortunately, I have changed my Mac machine and setting up development environment. Will look into these issue on Monday.

[2015-09-18 18:58] frodgers1207 commented on #19
Okay great, thank you.

[2015-09-20 14:39] orfdna commented on #18
Same thing happened to me - Thank you senfi for the tip, as I can now progress on to debug iOS 9.

khawars, we would appreciate any help on this.

Thanks.

[2015-09-21 07:50] mineono commented on #19
The optional delegates <pre>optional func tokenView(tokenView: KSTokenView, willChangeFrame rectDict: CGRect)</pre>and<pre>optional func tokenView(tokenView: KSTokenView, didChangeFrame rectDict: CGRect)</pre> are the problem here.<br />Quick workarround:<br/>Change CGRect to e.g. NSDictionary and map the data. Now the compiler knows what to do.

[2015-09-21 15:53] khawars commented on #19
Updated code with Xcode 7.0/Swift 2.0 in latest commit 9cbf7056d64d21381b74da6760c56a32a70103b0. Will do few modifications in a day or two.
You can re-open issue if it exists.

[2015-09-21 15:53] #19 closed

[2015-09-28 15:40] asimonv opened #20 "Token won't resize based on text length"
I'm using your module, but it seems there's no way to make a multiline token based on text width...

[2015-09-30 08:30] khawars commented on #20
@asimonv You are correct. Currently there is no way of multiline tokens, because it will increase height of that particular token and will not look good in combination of other single line tokens. Why do you actually need it?

[2015-09-30 08:30] #20 closed

[2015-10-06 22:58] quekshuy commented on #13
I'm also facing this issue even with the latest instructions in the README file. Importing KSTokenView doesn't help too.

XCode 7. Cocoapods 0.38.2., KSTokenView 2.2.0.

[2015-12-15 12:03] daemonDevarshi opened #21 "token.title string equality not working"
I am trying to implement below delegate method:

[code]

Problem is - though I have entered 'f' in tokenView shouldAddToken is coming to be nil, i.e. equality check is failing :(

Here is output of print statement in console:

`~~ tokenTitle : ​f , shouldAddToken : true`

Please suggest

[2015-12-19 16:26] khawars commented on #21
Issue is fixed in latest commit https://github.com/khawars/KSTokenView/commit/f3969467a56fb1d1d061904bacea0332f49efb9e

Check example ```AutolayoutExample```.

[2015-12-19 16:26] #21 closed

[2015-12-19 16:40] khawars commented on #13
Issue is fixed in latest commit https://github.com/khawars/KSTokenView/commit/f3969467a56fb1d1d061904bacea0332f49efb9e and latest version of Cocoapods (0.39.0 at time of writing).

[2015-12-19 16:40] #13 closed

[2016-01-09 18:57] Jackson0111 opened #22 "tokenView.isFirstResponder() does not work properly"
Everything else is great, thanks for your work! In shouldAddToken function, tokenView.isFirstResponder does not work properly. When it is actually first responder, .isFirstResponder gives false value.

[2016-01-09 19:12] Jackson0111 commented on #22
Never mind, I made a mistake.

[2016-01-09 19:30] Jackson0111 commented on #22
Can you use tokenView.isFirstResponder()?

[2016-01-11 10:46] khawars commented on #22
@Jackson0111 issue is fixed in latest commit https://github.com/khawars/KSTokenView/commit/edb5d2034c6a02584fa4f6c41ea203e6a4826aa9

[2016-01-11 10:46] #22 closed

[2016-01-14 07:03] eshwarramesh opened #23 "Autoresize UITableViewCell with TokenView"

[2016-01-14 08:50] #23 closed

[2016-01-14 08:51] eshwartm opened #24 "Autoresize UITableViewCell with TokenView"
I have added `KSTokenView` as a subview of `UITableViewCell`. (Like in the behavior of `UITextView`)
But it won't resize the table view cell the way `UITextView` does.

Any solution for this?

[2016-01-14 15:40] AmeerTgh opened #25 "Please add Right to Left support"
i want to use in right to left, please help me.

thanks.

[2016-01-14 19:51] khawars commented on #24
Could you please post your example code?  I'll look into it soon.

[2016-01-14 19:52] khawars commented on #25
This feature is currently not supported. I'll definitely add this soon

[2016-01-14 22:49] AmeerTgh commented on #25
Thank you so much :)

[2016-01-15 06:11] eshwarramesh commented on #24
Ok. Here what's I did.

- Construct a UITableViewCell xib with an outlet for KSTokenView.
- By autolayout, anchor the token view to all sides (top, bottom, left, right) of the content view.
- Register this xib with the table view by code.
- In the custom tableviewcell class, add the listener delegate `tokenView(tokenView: KSTokenView, didChangeFrameWithX: CGFloat, y: CGFloat, width: CGFloat, heigh

[2016-01-15 06:49] eshwartm commented on #24
Ok. Here what's I did.

Construct a UITableViewCell xib with an outlet for KSTokenView.
By autolayout, anchor the token view to all sides (top, bottom, left, right) of the content view.
Register this xib with the table view by code.
In the custom tableviewcell class, add the listener delegate tokenView(tokenView: KSTokenView, didChangeFrameWithX: CGFloat, y: CGFloat, width: CGFloat, height: CGFloa

[2016-01-20 08:30] eshwartm opened #26 "Custom Font crash"
Giving a custom font like `UIFont("Helvetica-Neue", size:14)` crashes at private function `_updateTokenField`. Could you please look into this?

[2016-01-20 11:10] khawars commented on #26
Make sure ```font``` is not nil. Try this to check if compiler passes first line and you have a valid font. Then assign it to tokenView.
```let font = UIFont(name: "Helvetica-Neue", size:14)!```
```tokenView.font = font```

[2016-01-20 11:37] eshwartm commented on #26
Actually, I checked it the way you are saying.

    private func _updateTokenField() {
          _tokenField.parentView = self          // crashes here
    }

[2016-01-21 07:23] eshwartm commented on #26
Correction on the font name, it is `HelveticaNeue`. But it still crashes.

[2016-01-21 09:04] eshwartm commented on #26
So I have made 2 changes in the code.

1.
In file `KSToken.swift`

    var font = UIFont.systemFontOfSize(14)
    var tokenField: KSTokenField? {
         return superview?.superview as? KSTokenField
    }

The `superview` returned from here was the `scroll view` inside the `KSTokenField` and not the `KSTokenField` itself. I changed it to `superview?.superview`.

2.
In `_commonSetup()`, I added `_

[2016-01-21 09:30] eshwartm commented on #26
Please check if these changes are necessary.

[2016-01-24 18:00] d4r1091 opened #27 "check if token has some prefix"
Hi,
I've a problem when added this beautiful library into my Obj-c project.
When checking if [aToken.title hasPrefix:@"somePrefix"], it enters anyway even if there is no prefix.
I read something about "optional string" using swift and after placed a breakpoint and check with lldb, I found that check returns <nil>.
How can i solve this?
thanks a lot!
Dario

[2016-02-03 10:00] d4r1091 commented on #27
Nothing?
BTW many compliments for your app! It is a very time wasted solution ;) thanks again

[2016-02-15 09:19] netgfx opened #29 "How to build with Carthage"
Hello does this project support carthage build?

If not, how can I import it inside my project?

[2016-02-19 10:44] #29 closed

[2016-03-08 13:39] nsolter opened #30 "remove KSTextEmpty character before passing potential token to addTokenWithTitle and search"
If the user enters a tokenizing character, addTokenWithTitle is called directly instead of _addTokenFromUntokenizedText, and the token is never trimmed before calling addTokenWithTitle. This causes the KSTextEmpty character to show up at the beginning.

The KSTextEmpty character needs to be removed from the search string as well.

[2016-03-08 16:28] nsolter opened #32 "promptTextColor and placeholderColor should be customizable"

[2016-03-08 19:25] nsolter opened #34 "support for subtitle in results table"

[2016-03-08 20:44] nsolter opened #36 "results table should be hidden when character count is below search threshold or token is added"

[2016-03-08 20:54] nsolter opened #37 "search string is incorrect if user adds characters in the middle of existing string"
In shouldChangeCharactersInRange, the code assumes that the characters are added at the end of the string.

[2016-03-10 11:30] nsolter opened #38 "provide customizable buffer between label and tokens/text"

[2016-03-10 13:17] #30 closed

[2016-03-10 13:17] #36 closed

[2016-03-10 13:17] #37 closed

[2016-03-10 13:46] #32 closed

[2016-03-10 14:57] khawars commented on #27
Issue is not found. I am trying with following code and its working as expected.
[code]

 Please provide more detail on it. You can re-open issue if you think it exists.

[2016-03-10 14:57] #27 closed

[2016-03-10 15:22] khawars commented on #26
Please check example code for custom fonts https://github.com/khawars/KSTokenView/tree/master/Examples/AutolayoutExample

It seems working fine for me.

If issue still exists, please re-open the issue.

[2016-03-10 15:22] #26 closed

[2016-03-10 15:25] khawars commented on #24
Better to ask this problem on Stackoverflow

[2016-03-10 15:25] #24 closed

[2016-03-10 15:26] khawars commented on #25
@AmeerTgh I am getting enough time to add this feature. Better if you could add this and submit a pull request. I am not sure if I would work on it in near future.

[2016-03-10 15:26] #25 closed

[2016-03-14 14:06] #38 closed

[2016-03-16 08:20] khawars commented on #34
User can provide their own cell by implementing following delegate.

```func tokenView(token: KSTokenView, withObject object: AnyObject, tableView: UITableView, cellForRowAtIndexPath indexPath: NSIndexPath) -> UITableViewCell```

[2016-03-16 08:20] #34 closed

[2016-03-16 08:45] nsolter commented on #34
Ah, right. Thanks.

[2016-03-19 16:08] krzyzanowskim commented on #4
I have problem that view is changing the height when adding first token. Not sure what I'm doing wrong

![2016-03-19 17_07_39](https://cloud.githubusercontent.com/assets/758033/13899710/1ef149fe-edf5-11e5-9901-364d59b9b71a.gif)

![screen shot 2016-03-19 at 17 03 55](https://cloud.githubusercontent.com/assets/758033/13899683/9583ab94-edf4-11e5-8239-a37302e585fd.png)

[2016-03-22 11:24] d4r1091 commented on #27
ok thanks a million! In these days I'll test it and check hoping all is well done ;) thanks

[2016-04-13 18:07] J-phantom opened #40 "select just one"
Is that the user is only one choice ؟

[2016-04-14 14:04] khawars commented on #40
@J-phantom It seems you are asking something that I couldn't understand. Please explain clearly what is your question?

[2016-04-19 09:05] Sianay commented on #24
Have you find a solution for that @eshwartm ?

[2016-04-19 10:07] eshwartm commented on #24
@Sianay I kind of found the solution. I'll update it soon.

[2016-04-27 10:42] #40 closed

[2016-05-13 19:38] Jackson0111 opened #43 "Is there a way to keep the token appearance after resigning firstResponder?"
Hello! I see that when the token view resigns first responder, the tokens become plain strings. Is there a way to keep the token appearance when it's no longer first responder?

[2016-05-14 04:25] khawars commented on #43
set  ```tokenView.removesTokensOnEndEditing = false```

[2016-05-14 04:25] #43 closed

[2016-06-08 17:10] netgfx commented on #29
If anyone is wondering: `github "khawars/KSTokenView" "master"`

[2016-06-16 06:28] sdtaheri opened #44 "Auto Layout issue in UITableViewCell"
Hi,

I've worked on this issue a lot myself and searched the whole StackOverFlow. Unfortunately I had no luck fixing it so I decided to ask the author @khawars .
I'm using self sizing cells using Auto Layout targeting iOS 8 and above. Since this control overrides Intrinsic Content Size, I believe it should not have any problems with this.
I've set up a custom UITableViewCell in Storyboard consisti

[2016-07-06 06:09] Jackson0111 opened #45 "Search Table View is not scrollable and selectable"
Hi! I've been using KSTokenView for a while, and I think it's great! Good work! I wanted to add keyword suggestion feature in my app, but for some reason the suggestions show up but the table view is not interactive. I can't scroll down or select a cell. I looked at the example project, and I don't see what I'm doing would cause this issue. I do have tap gesture recognizers on other views but even

[2016-07-06 06:18] Jackson0111 commented on #45
I put in tokenView didSelectRowAtIndexPath, that function is not called either. Do I need to set the results table view's delegate and datasource?

[2016-07-06 06:52] Jackson0111 commented on #45
Ok I figured out where the problem is. My main table view is receiving all gestures instead of the search table view. Once I made the cell height big enough to fit the search table view, everything works just fine. But I can't do that, is there anyway to separate these two table views?

[2016-07-19 22:10] anthonycastelli opened #46 "KSTokenView resign first responder issue"
When resigning the first responder, text in the cell doesn't become tokenized. If I type in a word and then tap in another textField or textView, that text isn't tokenized.

I've tried setting `removesTokensOnEndEditing` to false but it did nothing

[2016-07-20 00:24] anthonycastelli opened #47 "Setting the tokenView editable to false doesn't disable editing tokens"

[2016-07-20 19:32] mmilakovic opened #50 "Placeholder and input text are not even"
Hey,

I have problem because placeholder and input are not even (see attachment). Is there possibility to make them even? Maybe after accepting PR#48 and exposing paddingY property as public I could solve this problem.
![image](https://cloud.githubusercontent.com/assets/6659472/17000132/6ce87c22-4ec1-11e6-9622-e4485ea21323.JPG)

Thanks in advance,

[2016-07-26 04:30] bot2600 commented on #44
I've been poking around at this code a bit lately and while I don't have a direct answer for you (I didn't look closely at the autolayout example) from what I saw the easiest way to handle this would be to make the cell the delegate of the tokenview which has a shouldchangeheight or something like that which you could then use to push out the height constraint on your cell. It isn't the normal aut

[2016-09-02 14:03] urschaitanya opened #52 "unexpectedly found nil while unwrapping an optional value (using in table view cell)"
private func _initPlaceholderLabel() {
      let xPos = _marginX!
      if (_placeholderLabel == nil) {
         _placeholderLabel = UILabel(frame: CGRect(x: xPos, y: leftView!.frame.origin.y, width: _selfFrame!.width - xPos - _leftViewRect().size.width, height: _leftViewRect().size.height))
         _placeholderLabel?.textColor = placeHolderColor
         _placeholderLabel?.font = _font

[2016-09-04 21:41] codinggenie opened #53 "Dropdown table view is under the main UI elements"
If I have a button just below the KSTokenView, the dropdown table for search results is behind the button. So the first row is not visible.
<img width="367" alt="screen shot 2016-09-05 at 03 10 27" src="https://cloud.githubusercontent.com/assets/13944202/18234069/57b10d64-7316-11e6-9eca-460500eb6a95.png">

[2016-09-12 07:02] netgfx opened #54 "Support for Swift 3.0"
More specifically Swift 3.0 and Carthage support.

[2016-09-12 11:19] netgfx opened #55 "iOS10 infinite loop when dismissing list"
There is a part where the loop never ends on iOS10, swift 2.2

[code]
on KSTokenView

any ideas?

[2016-09-12 12:07] netgfx commented on #55
Upon further investigation the problem is here:
[code]
because at one point the `frame.size.height` is 31.0 and `tokensMaxY` is 31.065463 !!!

[2016-09-12 12:23] netgfx commented on #55
This seems to solve the problem:
[code]

[2016-09-12 12:42] netgfx commented on #55
Added PR for this: https://github.com/khawars/KSTokenView/pull/56

[2016-09-12 22:20] alexkaessner commented on #54
@khawars **At least Swift 2.3 support would be awesome!** 👍 Otherwise Xcode 8 has a problem to build it.

The only errors Xcode shows are these. Should be easy to fix:
<img width="837" alt="screenshot" src="https://cloud.githubusercontent.com/assets/6615076/18455010/ca4edfae-7947-11e6-8bbf-ba23acdb44ca.png">

[2016-09-13 07:13] #45 closed

[2016-09-13 07:25] khawars commented on #46
@anthonycastelli text is tokenized only after user press "Done" button in keyboard or any of character specified in ```tokenizingCharacters``` array.

[2016-09-13 07:25] #46 closed

[2016-09-13 07:35] khawars commented on #47
@anthonycastelli Thank you for reporting the issue. It is fixed in latest commit.

[2016-09-13 07:35] #47 closed

[2016-09-13 18:33] khawars commented on #50
This issue is fixed in latest commit.

[2016-09-13 18:33] #50 closed

[2016-09-13 18:41] khawars commented on #53
In interface build, make sure to add button to bottom in hiercharchy. See attached screenshot.
![Uploading Screen Shot 2016-09-13 at 11.39.05 PM.png…]()

[2016-09-13 18:41] #53 closed

[2016-09-13 18:47] khawars commented on #54
@netgfx  and @alexkaessner I am back on the earth for a couple of days :) I'll try to fix as many issues as possible and will try to add support of Swift 3.0

[2016-09-13 22:07] alexkaessner commented on #54
@khawars Nice and thanks! Maybe you should first do a small Swift 2.3 update before you move on to Swift 3. So we can still use the framework (with an older release) if we don't want to update to Swift 3 yet.

[2016-09-14 12:09] mspasov commented on #54
@alexkaessner , @khawars I just did #57, should work under swift 2.2 and 2.3. Untested :)

[2016-09-14 20:36] khawars commented on #55
@netgfx Please try to use latest commit with stable version of Xcode 8.0. I actually couldn't replicate this issue. If you still face this issue, please reopen.

[2016-09-14 20:36] #55 closed

[2016-09-14 20:40] khawars commented on #54
Updated with Swift 2.3 and 3.0.
User ```master``` branch for Swift 3.0, and ```develop/swift2.3``` for 2.3. Please reopen for any related issue.

[2016-09-14 20:40] #54 closed

[2016-09-14 21:25] khawars commented on #52
@urschaitanya I would request to provide more information or sample project of issue. If possible please submit PR.

[2016-09-14 21:25] #52 closed

[2016-09-19 13:14] Lithium-HD opened #58 "can't select items listed in autocomplete list while the view is inside UIStackView"
Hi.
I'm developing an app using swift 2 and some where in my project I need to use your KSTokenView.
TokenView works great when it is not inside a UIStackView. as soon as I put it inside UIStackView (for resizing the app on rotation or bigger screens)  I can't select any items listed in the box in bottom of it. why is that?

[2016-09-20 08:14] jassimkm opened #59 "show all token without typing"
Hi , Setting minimumCharactersToSearch to 0 doesn't show all tokens when clicking the view

[2016-09-20 09:36] khawars commented on #59
Please see example project "AutolayoutExample".

[2016-09-20 09:36] #59 closed

[2016-09-20 09:39] khawars commented on #58
It should work. Please example project "StackViewExample". You may debug the view hierarchy, to confirm if there isn't any view on top of it.

[2016-09-20 09:39] #58 closed

[2016-09-20 09:41] khawars commented on #44
@sdtaheri Apology for such a late reply. Do you still have the issue. If yes, I appreciate if you could provide some example code of how you are using this control in your project. Replicating the project environment on my end is very time consuming and I wouldn't be able to do that.
I am closing the issue now, you may reopen, if issue is still there and you can provide sample code.

[2016-09-20 09:41] #44 closed

[2016-09-21 05:59] Lithium-HD commented on #58
here's my test project. I've put the KSTokenView inside stackView without any extra views on the screen. it stops working correctly after I did that. take a look.
[TestProject.zip](https://github.com/khawars/KSTokenView/files/484221/TestProject.zip)

[2016-09-21 08:05] khawars commented on #58
Try to use latest code from branch ```develop/swift2.3```

[2016-09-21 16:38] devlixz opened #60 "autolayout on view"
i follow example horizontal KSTokenView, if i change custom autolayout constraint, it not working well.. I need some advice,how the use of constraint on KSTokenView. thanks. Great project!

![screen shot 2016-09-21 at 11 28 38 pm](https://cloud.githubusercontent.com/assets/22350941/18719964/dca7943a-8053-11e6-8f40-6d9af37580fd.png)

i create KSToken in the middle between textfield like this
![scre

[2016-09-21 18:27] khawars commented on #60
Are you using stable version of Xcode 8?

On Sep 21, 2016 9:38 PM, "devlixz" <notifications@github.com> wrote:

[2016-09-22 01:47] devlixz commented on #60
yes sir, im using stable Version Xcode 8

[2016-09-22 08:18] khawars commented on #60
@devlixz I am not able to replicate issue on my end. Please try to use latest source code. If still having issue, please send me sample project.

![simulator screen shot 22-sep-2016 1 17 23 pm](https://cloud.githubusercontent.com/assets/10417908/18741142/f3331e5e-80c6-11e6-8f3c-5e62c125c7d3.png)
![simulator screen shot 22-sep-2016 1 17 31 pm](https://cloud.githubusercontent.com/assets/10417908/187

[2016-09-22 08:18] #60 closed

[2016-09-23 07:41] devlixz commented on #60
can please check and fix this sir...

![screen shot 2016-09-23 at 2 34 15 pm](https://cloud.githubusercontent.com/assets/22350941/18777888/c16ee77e-819b-11e6-88f6-f391b32e0846.png)

This example Project
[KSTokenView-develop-swift2-2.3.zip](https://github.com/khawars/KSTokenView/files/489109/KSTokenView-develop-swift2-2.3.zip)

[2016-10-03 13:00] alexkaessner opened #62 "add version 2.5 and 3.0 to CocoaPods Specs Repo"
I just noticed that both version [2.5.0](https://github.com/khawars/KSTokenView/releases/tag/2.5.0) and [3.0.0](https://github.com/khawars/KSTokenView/releases/tag/3.0.0) aren't on the official CocoaPods Specs Repo: https://github.com/CocoaPods/Specs/tree/master/Specs/KSTokenView

[2016-10-09 19:10] ggilley opened #63 "Problem with StackView example"
When I try in my app (and I verified with your stack view example), the vertical size is wrong. Any idea what is going wrong?

<img width="375" alt="screen shot 2016-10-09 at 12 09 26 pm" src="https://cloud.githubusercontent.com/assets/3057017/19222977/5b725264-8e19-11e6-86f6-b819778666d4.png">

[2016-10-14 17:48] kamil3 opened #64 "KSTokenView description text gets blank while start scrolling"
It looks like a bug. Steps to reproduce:
1. Add a proper number of tokens to make the scroll active.
2. Hide keyboard to show description text or a list of tokens separated by commas.
3. Start scrolling vertically/horizontally (depending on a direction setup) in KSTokenView (not clicking, just start scrolling) - as a result, the KSTokenView element gets completely empty.

I hope that I made myself

[2016-10-21 13:23] jendaz opened #65 "If token is deleted the performSearchWithString is called with last input"
If token is deleted the performSearchWithString is called with last input even if the field is empty. So the autocomplete table won't hide and also there are bad results for some input.

[2016-10-21 13:23] jendaz opened #66 "Could you implement all UITextField delegate methods?"
For example I'm really missing `shouldBeginEditing` and `shouldReturn` on the tokenView

[2016-10-21 13:26] jendaz opened #67 "Is it possible to change the return key?"
Is it possible to change the return key? I'd like to have there Done if I'm inserting custom token and search if there are tokens and no input written. And also I'd like to have the return key disabled if the token view is empty

[2016-10-21 13:31] jendaz opened #68 "All texts are not aligned to their baselines"
If I set `promptText` and write something the UITextField is not well aligned. Then If I add one token the text of the token is worse aligned and UITextField is also on a different level. I tried that with custom font.

[2016-10-31 11:52] khawars commented on #68
Can you please provide some screenshot?

[2016-10-31 12:40] jendaz commented on #68
Sure. I'm using font: ProximaNovaSoft-Regular 15.0
And as you can see there is error -0.5pt for token - textField
And +1pt error for prompt if there are some tokens already.
The screenshot is for @2x scale.

![baselines](https://cloud.githubusercontent.com/assets/8435946/19854367/e9d07c32-9f6e-11e6-8e35-a2dbb2663672.png)
_The green line is the right baseline for the text_

![blended](https://cloud

[2016-11-01 08:38] jendaz commented on #68
Sorry I've sent you my little bit "corrected" version. If I turn that correction off it looks like this:

![tokens](https://cloud.githubusercontent.com/assets/8435946/19883851/c731ae14-a016-11e6-88c9-a2dda81367ca.png)

The textfield position is different when there is a token.

[2016-11-09 19:22] asher636 opened #69 "Token add start from mid when on full view"
I added KSTokenView on my UIView which is of screen size i.e in terms of width and height. When ever I click on it, first tag starts from middle. How to fix this?
I have attached the screenshot.

Thanks.

<img width="301" alt="screen shot 2016-11-10 at 12 21 34 am" src="https://cloud.githubusercontent.com/assets/17403246/20151354/ac409f04-a6db-11e6-8a81-cc1f48d3fa51.png">

[2016-11-14 19:17] codinggenie opened #70 "Swift3: Click not working at the center of cells"
Click on the cells not working properly on all cells. It works properly only on the 2nd row.
Order rows click works only in the space between the previous row cell and the text of current cell.
What would be the issue ?

For the image below, click on "C" works fine, not other row cells.
<img width="370" alt="screenshot 2016-11-15 at 00 39 48" src="https://cloud.githubusercontent.com/assets/1394420

[2016-12-04 12:19] MortenGregersen commented on #62
Still needed...

[2016-12-09 20:36] khawars commented on #70
Unfortunately, I am not able to replicate this issue on my end. It is working fine. Please review the latest commit, if you still find this issue then reopen it.

[2016-12-09 20:36] #70 closed

[2016-12-09 20:37] khawars commented on #69
Fixed. Please review the latest commit, if you still find this issue then reopen it.

[2016-12-09 20:37] #69 closed

[2016-12-09 20:37] khawars commented on #65
Fixed. Please review the latest commit, if you still find this issue then reopen it.

[2016-12-09 20:37] #65 closed

[2016-12-09 20:37] khawars commented on #64
Fixed. Please review the latest commit, if you still find this issue then reopen it.

[2016-12-09 20:37] #64 closed

[2016-12-09 20:37] khawars commented on #63
Fixed. Please review the latest commit, if you still find this issue then reopen it.

[2016-12-09 20:37] #63 closed

[2016-12-09 20:39] khawars commented on #62
3.0.1 is added on Cocoapods.

[2016-12-09 20:39] #62 closed

[2016-12-09 20:44] khawars commented on #68
Token alignment is independent of prompt text. It actually depends total height of Token View. However, promptText and descriptionText are aligned now. Please review latest commit, if you still find issue reopen it.

[2016-12-09 20:44] #68 closed

[2016-12-10 05:58] asher636 commented on #69
okay

Thanks & Regards,
[image: https://wizdevelopers.com]

On Sat, Dec 10, 2016 at 1:37 AM, Khawar Shahzad <notifications@github.com>
wrote:

[2016-12-10 08:11] alexkaessner commented on #62
But now there's only v2.4.1 and next 3.1.0 here: https://github.com/CocoaPods/Specs/tree/master/Specs/0/7/9/KSTokenView

Would be nice to also have v2.5.0 if you're still using Swift 2

[2016-12-12 07:26] ajay2c9 opened #71 "Text is not displaying while typing in Objective-c ViewController"
how to display the typing text displaying in the KSTokenView in objective-c. I implemented the tableview and search bar in the view controller in objective-c . Now I want to implement the KSTokenView instead of UISearchBar.
Please give suggestions to implement this in Objective-c
Thank you

[2016-12-13 14:57] khawars commented on #71
@ajay2c9 Could you please clarify your question?

[2016-12-13 15:12] khawars commented on #66
Currently, not. :)

[2016-12-13 15:12] #66 closed

[2016-12-14 12:16] khawars commented on #67
Added method ```returnKeyType(type: UIReturnKeyType)``` in ```KSTokenView``` class. Please reopen, if there is still any issue.

[2016-12-14 12:16] #67 closed

[2016-12-14 12:57] khawars commented on #62
@alexkaessner Done. Thank you to point out.

[2016-12-14 18:03] alexkaessner commented on #62
@khawars Thanks a lot!! 👌

[2016-12-15 20:49] heatherSnepenger opened #72 "tokens are not displaying"
I'm on swift 2.3 and using version 2.5 of KSTokenView. The `addToken` method doesn't add tokens to the `KSTokenView` nor do the tokens get added when clicked from the `UITableView`. Doesn't seem like anyone else is reporting this issue?

[2016-12-20 12:47] ajay2c9 commented on #71
Hi,
Sorry for the late response.

I am using KSTokenView. I loaded the table view after entering to the viewController without searching . After I selected the 3 users . The usernames are not displaying in the Tokenfield . After selecting the KSTokenView the names are displaying.

I am using objective-c Code.
Please give suggestions to overcome this problem.

Thank you

[2016-12-20 17:11] khawars commented on #71
Can you please provide screenshot?

[2016-12-21 04:41] ajay2c9 commented on #71
![screen shot 2016-12-21 at 10 06 26 am](https://cloud.githubusercontent.com/assets/9112899/21377557/7b6f7148-c765-11e6-9497-579f51996670.png)

After selecting the users it is displaying like above image.

![screen shot 2016-12-21 at 10 07 04 am](https://cloud.githubusercontent.com/assets/9112899/21377580/9d5ecc18-c765-11e6-98aa-8839b8caa31f.png)

After selecting the TokenView the keyboard is appe

[2016-12-21 09:01] khawars commented on #71
@ajay2c9 are you using latest version of KSTokenView with latest version of Xcode? This is strange, can you provide sample project of this screen, so that I can inspect accordingly?

[2016-12-21 11:38] ajay2c9 commented on #71
Hi khawars,
I am using the latest version of KSTokenView in xcode 8.0. I few changes in objective-c files plz check below.
1. In Viewdidload i added 1 line and keep comment 1 line
Added:     self.tokenView.direction=KSTokenViewScrollDirectionHorizontal;
Comment : [self.view addSubview:self.tokenView];
/* I commented the above line because i already gave as Class name  "KSTokenView" and  the outlet

[2016-12-21 14:10] ajay2c9 commented on #71
I have a small doubt in "Programmatically.swift" file .
 First i clear all the tokens and i added 3 tokens in the searchfield search by a letter. After adding that i search with 3 letters i kept the break point in "performSearchWithString"  delegate method. After clearing 1 by 1 letter, for last letter the clearing this delegate method is not called. How to identify the searching letter is empty o

[2016-12-21 18:00] khawars commented on #71
Instead of adding height constraint, please use placeholder height in intrinsic content size, like in example projects.
But I observed few bugs of autolayout with Xcode 8.0. Please use at least 8.1 or above.
As far as I remember 'performSearchWithString' doesn't call when string length is 0. This was handled in v3. BTW, are you using latest version of KSTOKENVIEW?

[2016-12-22 04:13] ajay2c9 commented on #71
Hi,
I am using the latest Version. Please give suggestions for identifying for identifying the string length is 0. I need to add another functionality when search string length is 0.

Thank you

[2016-12-22 14:28] ajay2c9 commented on #71
i am adding the token to the tokenview like this with horizontal scrolling.

 [tokenView addTokenWithTitle:selectobj.usernameString  tokenObject:selectobj];

how to delete the sticky token.
1.
KSToken*token=[[KSToken alloc] initWithTitle:selectobj.usernameString object:selectobj];
   [tokenView deleteToken:token];
2.
       [tokenView deleteTokenWithObject:selectobj];

i tried above two methods  f

[2016-12-23 11:38] khawars commented on #71
I am not user of Instagram and not sure what it offers about this feature. But as per my understanding, you want to delete token if user select it? If yes, then you can just implement the delegate method when the token is selected and then call deleteToken method. Like this:

[code]

[2016-12-23 11:38] #71 closed

[2016-12-23 11:42] khawars commented on #72
@heatherSnepenger can you provide sample code how you are using it? You may look into "Programmatically" example. If you are still facing issue, you may re-open it.

[2016-12-23 11:42] #72 closed

[2016-12-24 11:36] ghost opened #73 "[Question] How to enable editing of existing token?"
Once a user has created tokens, is there a way to enable editing of a created token?

E.g. if the user has created these tokens: **[Swift], [Visual Basic], [Objective C]** set, how can the change the token in place by:

1. tapping on the token, then
2. typing the new input e.g. [Swift language] (without deleting any tokens)

After the edit to the token, the resulting tokens will be **[Swift langua

[2017-02-20 16:14] pmbfish40 opened #77 "How to change color of indicator"
I tried to to change indicator color but it didn't changed at all. The color is always blue

 tokenView.activityIndicatorColor = UIColor.red

![screenshot 2017-02-20 20 11 33](https://cloud.githubusercontent.com/assets/5268958/23133048/1d92eb08-f7a9-11e6-8390-06d81386ca24.png)

[2017-02-24 11:19] khawars commented on #73
Currently, there is no way to edit a token. It can be deleted, but edited for now.

[2017-02-24 11:19] #73 closed

[2017-02-24 11:20] khawars commented on #77
Check this:
http://stackoverflow.com/a/42436203/1444321

[2017-02-24 11:23] khawars commented on #77
My bad, you are asking about Activity Indicator color not token background color. It should work, as you have tried.
Check Objective-c example in latest source code. I have tried changing color to red, and it does work.
Please let me know if issue is still there.

[2017-02-24 11:23] #77 closed

[2017-03-15 07:48] basilmariano opened #78 "Cursor to go to New Line"
Can we make the Cursor go to **New Line** when typing if the text is already truncating?

<img width="316" alt="screen shot 2017-03-15 at 3 48 06 pm" src="https://cloud.githubusercontent.com/assets/5466582/23938331/dae33f56-0996-11e7-8d48-b679681dfe0d.png">

[2017-03-15 09:16] basilmariano opened #79 "Tokens at top for first line"
Hi,

The tokens are automatically added top top.

<img width="322" alt="screen shot 2017-03-15 at 5 13 01 pm" src="https://cloud.githubusercontent.com/assets/5466582/23941176/cfe166e4-09a2-11e7-8040-71dd7034fd75.png">

I think it is better if the the first line will be at same Y position as the "To:" label until it reaches the second line,

[2017-03-17 20:31] khawars commented on #78
Nope. Currently this is not possible. Not sure if I would work on this feature in future.

[2017-03-17 20:31] #78 closed

[2017-03-18 02:06] basilmariano commented on #78
That fine, i made it work already but not sure if i did it correctly though. Lol i did so many revisions, if you want i can give you the updated source and you cqn fix it up.

[2017-04-25 10:03] meanreaksmey opened #80 "remove"
how to show icon remove

[2017-04-25 10:13] khawars commented on #80
Can you please provide more detail? Which icon you are taking about?

[2017-04-27 09:17] meanreaksmey commented on #80
can you we store object in KSTokenView i can not get store id when i want to get id when store in KSTokenView yet!

[2017-05-03 11:06] mhegdeopteamix opened #81 "Crashing in iOS 10"
`      tokenView.promptText = "Top 5: "
        tokenView.placeholder = "Type to search"
        tokenView.descriptionText = "Languages"
        tokenView.maxTokenLimit = 5 //default is -1 for unlimited number of tokens
        tokenView.style = .squared`

I added token view in my tableview cell. the private property _tokenField is crashing if I add promptText, placeholder, description.

[2017-05-05 08:28] khawars commented on #81
Please provide sample code, how are you using it.

[2017-05-05 08:28] #81 closed

[2017-05-05 08:30] mhegdeopteamix commented on #81
@khawars  I already added sample code. I am using tokenView inside the tableviewCell.

[2017-05-24 09:23] alizainprasla commented on #26
@khawars Provide link is not working.

[2017-05-24 12:06] khawars commented on #80
You can store your custom object in ```KSToken``` object. There is property ```object``` for this purpose.

[2017-05-24 12:06] #80 closed

[2017-05-24 12:09] khawars commented on #26
That example was removed from latest commits. You may download older version 2.4.0 with Swift 2 from following link.
https://github.com/khawars/KSTokenView/archive/2.4.0.zip
And see ```AutolayoutExample``` project.

[2017-06-12 13:15] igorkulman opened #82 "Question: a way not to show the search?"
Is there a way not to show the search? I want to use it on top of my own table view.

[2017-06-12 13:49] khawars commented on #82
I actually didn't get what you actually want to do. If you don't want to show search results, then why to use this control? Or you want to customize tableview UI?
However, to answer your question, there is no direct way as of now, to stop search result appearing. However, search results appears as soon as number of characters are equal value of ```minimumCharactersToSearch ``` property. You may se

[2017-06-12 13:49] #82 closed

[2017-06-29 20:53] feliciaf opened #83 "kstokenview text comes empty"
Hi, when using the kstokenview, i have noticed that the tokenview.text = " " comes empty ?
I need to grab the input of the user text, compare it with a textfield and add it to a database.

Please need help for any sugestions? if I need to use the kstokenfield so, i can grab the input of the user text?

[2017-06-30 12:46] khawars commented on #83
At which event you are trying to get text? It should work. Could you please send some sample code?

BTW, you can also get the input string in following delegate method. Following is example:

[code]
You may re-open if there is still any issue.

[2017-06-30 12:46] #83 closed

[2017-06-30 14:40] feliciaf commented on #83
@khawars  ...
My goal: is once the user clicks on the object, it returns the object and take the string of that object and compare with other textfields.
My code:
func tokenView(token: KSTokenView, performSearchWithString string: String, completion: ((results: Array<AnyObject>) -> Void)?) {

        let data = TranCodeSQL(objContext: self.managedObjectContext).Query("DELAY")

        var selectedA

[2017-07-01 06:00] khawars commented on #83
But where are you checking ```tokenview.text```? I couldn't find it in above code.

[2017-07-06 12:34] feliciaf commented on #83
where can I implement tokenview.text?

[2017-07-06 13:04] feliciaf commented on #83
can i display two array titles,  and only return one array title?

[2017-07-06 13:56] khawars commented on #83
You can implement ```tokenView.text``` anywhere you want. It will return any untokeznied text.

Didn't get your second question regarding two array. Please explain.

[2017-07-06 14:11] feliciaf commented on #83
ok for the first question.
for the second question:
Below, I am returning object["desc"] from the selectedArray.
In func tokenView(token: KSTokenView, displayTitleForObject object: AnyObject) -> String {
    //returns values of ["desc"]
    return object["desc"] as! String
}

But, I want to display 2 objects[["desc"]["sys_code"]]
and if i select a token, it returns object["sys_code"]

[2017-07-06 14:13] feliciaf commented on #83
the first table cell: string A , string B
select table cell
and return string B

[2017-07-06 14:14] feliciaf commented on #83
![screen shot 2017-07-06 at 10 13 13 am](https://user-images.githubusercontent.com/7524770/27915301-e0d8e780-6233-11e7-878a-a4e7fea6b577.png)

[2017-07-07 18:34] feliciaf opened #84 "I am using KSTokenView, branch swift 2.3 Any guidance would be very helpful. This is for one UITextfield. I would like to use it for multiple textfields.How can I implement using this method?"
//class VC
    class ViewController: UIViewController {
     var arrayForDelayTypeTxtComboBox = [[String : AnyObject]]()
     var arrayForDelayCancellationTxtComboBox = [[String : AnyObject]]()

    override func viewDidLoad() {
            super.viewDidLoad()

    ksTokenView()

    }
    //init tokenView
    func ksTokenView() {

            tokenView.delegate = self
            tokenView.prompt

[2017-07-22 16:11] mjew opened #85 "Setting searchResultBackgroundColor does not seem to change the color"
I can set the tokenView.backgroundColor and it works.
When I set the tokenView.searchResultBackgroundColor it does not seem to affect the color of the search results table that appears.
Is there something else I need to do to affect the color of the search table's background?
- Matthew

[2017-08-02 10:15] pk1 opened #86 "Problem with dot character in token field"
Hi,

I was surprised that a dot (.) seems not to be accepted in the token field. Did I miss here something or what is the reason for this behavior?

[2017-08-02 10:24] pk1 commented on #86
Ok, just found the solution which is to remove the default characters which will trigger a token creation:

tokenView.tokenizingCharacters = [];

[2017-08-02 12:39] pk1 opened #87 "Possible bug in delegate function regarding hiding the search result"
Hi,

not sure if this has been already addressed but in case someone else is wondering what is going on here, I hope this will help.

The token view configuration has a property shouldHideSearchResultsOnSelect. If this is set to false, my understanding is that the currently shown search result should not disappear. But exactly this happens because the delegate function tokenFieldDidEndEditing in t

[2017-08-14 12:40] reshadf opened #88 "swift 3.2 and 4.0 support"
Hi Is there any support planned for the 3.2 and 4.0 swift versions?

[2017-08-23 05:20] yunitaandini opened #89 "Customize for KSTokenField"
I define the tokenView height = 43, it works when token added.
But when all token deleted and I started to type custom string the height become little taller (but when back to its normal size when token added). I tried to customize your library, but I can't find which height should I custom.

Could you elaborate more about the height customization, please?

Your pod is really helpful, thank you.

[2017-09-11 10:34] #86 closed

[2017-09-11 10:40] khawars commented on #84
Use it for multiple objects, just like you are using for one. However, in delegates of KSTokenView methods, you will receive reference of one user is interacting with. Just like ```tokenView``` in below method.
```func tokenView(tokenView: KSTokenView, shouldAddToken token: KSToken) -> Bool  {```
```// Check tokenView here and do your work```
```}```

You can check this reference and perform actio

[2017-09-11 10:40] #84 closed

[2017-09-11 12:18] khawars commented on #87
```shouldHideSearchResultsOnSelect``` means actually other way around. If set to ```true```, search results will hide once user selects an option from search results. If set to ```false```, search result will keep showing, and user can keep on selecting items.
Sorry for such late response.
You may reopen, if issue is still there.

[2017-09-11 12:18] #87 closed

[2017-09-11 12:21] khawars commented on #85
You may have changed the background color correctly, but it is not visible because row colors are still default. Please try changing table row colors.

[2017-09-11 12:21] #85 closed

[2017-09-11 12:26] khawars commented on #89
Try to change height in Xib/Storyboard file of example project. It should be working fine.
Please reopen, if issue is still there.

<img width="250" alt="screen shot 2017-09-11 at 4 23 42 pm" src="https://user-images.githubusercontent.com/10417908/30274306-e6c8bef4-970d-11e7-9822-c1a685802d47.png">

[2017-09-11 12:26] #89 closed

[2017-09-11 12:28] khawars commented on #79
@basilmariano as per current implementation, it starts from fixed Y position. Increasing number of lines will expand the view itself, but will not reposition Y. Currently, not getting enough time to implement this. You are free to submit pull request with this feature 👍

[2017-09-11 12:28] #79 closed

[2017-09-20 19:14] gabdsg commented on #88
Same here

[2017-10-03 02:42] dlukianenko commented on #88
+1

[2017-10-16 11:53] khawars commented on #88
Dears - Please try new commit for Swift 4 https://github.com/khawars/KSTokenView/commit/c4bc5386ae0d1f71c25e1770429064689120053b

[2017-10-16 11:53] #88 closed

[2017-11-02 09:01] luongnhatlam opened #91 "Custom TableViewCell"
Hello, I am working with my tableViewCell but when embed KSTokenView I have to use the default tableViewCell of it! How can I still use my tableViewCell or custom tableViewCell of KSTokenView???

[2017-11-14 19:04] LoopingLouieX opened #93 "TokenView too much after TokenLimit"
If as example `tokenView.maxTokenLimit = 3` and there are already three tokens chosen from the list
--> the tokenlist will be shown nevertheless and it is possible to choose a fourth token (this fourth token will be not in the list afterwards so that's correct)

**Suggestion:** If as example `tokenView.maxTokenLimit = 3` and the third token is chosen, the list will be not displayed anymore.

[2017-11-15 15:02] Lecyp opened #94 "Case sensitive ?"
Hey !

First, tanks a lot for your great library 👍

I just wanted to know if you were planing to define an option somewhere to render the searched text case sensitive and/or accent sensitive ?

Thank you very much for your feedback ;)

[2017-11-16 07:38] khawars commented on #93
Done, in latest commit https://github.com/khawars/KSTokenView/commit/6a24f5c4f117fba12ef6c8b17ed80535ecb7fac5.

[2017-11-16 07:38] #93 closed

[2017-12-04 15:32] RazvanCosmeanu opened #96 "Text field color"
Hello, and thank you for this library. I managed to customize everything how I want, but I have a question. Is it possible to change the text field color? If I set the tokenView.backgroundColor property to black, the text is not visible anymore as I write it. Thanks! Also tokenView.style = KSTokenViewStyle.squared doesn't work as intended, as I still get the rounded corners.

[2017-12-04 19:10] khawars commented on #96
You can use ```tokenTextColor``` to set text color. Also setting style as ```squared``` works fine for me.
Please check ```Programmatically``` working example for both of these issues.

[2017-12-04 19:10] #96 closed

[2017-12-04 19:23] khawars commented on #94
```KSTokenView``` doesn't actually perform search. It is a View, which provides delegate methods so that you may perform searches based on your requirement. You may use delegate methods like ```tokenView(_ tokenView: KSTokenView, performSearchWithString string: String, completion: ((Array<AnyObject>) -> Void)?)``` to customize your search results accordingly.

[2017-12-04 19:23] #94 closed

[2017-12-04 19:28] khawars commented on #91
You can still use your tableViewCell by implementing delegate method ```tokenView(_ tokenView: KSTokenView, withObject object: AnyObject, tableView: UITableView, cellForRowAtIndexPath indexPath: IndexPath) -> UITableViewCell```.

[2017-12-04 19:28] #91 closed

[2017-12-05 02:52] luongnhatlam commented on #91
Thank you so much

[2017-12-05 11:50] RazvanCosmeanu commented on #96
Thanks for the reply! I was talking about the UITextField textColor, not the token color, as stated in the title.

You are setting it as black in the _commonSetup() init function.
[code]

But there is no get/set for it exposed in KSTokenView, and the _tokenField is private, so not customizable. Please mark it as an enhancement proposal, but I don't think it should be closed.

[2017-12-13 17:32] hannesoud opened #97 "TokenTextField height is not updated"
TextField height is not updated when
- Add 5 or 6 tokens
- Click done
- Focus textfield
- Remove all tokens

In this case, textfield height should be min value(line count 1), but it looks like multiline textfield.
http://prntscr.com/hn1zgl

it should be as following screenshot:
http://prntscr.com/hn1zsn

[2017-12-19 04:47] khawars commented on #97
Hi @hannesoud
I am trying to replicate the issue, but couldn't. Do you have the latest code?

[2017-12-21 07:14] vnthanh opened #98 "Issue with expanding when adding more token"
Firstly, thank you for your unique work, on such a complicated problem.
I'm trying to apply your work and facing some problems.

- When a few tokens is added and the token view's width is not enough to display, the last letters is not expanding on the right naturally with auto scrolling to see the whole word, like this
![screen shot 2017-12-21 at 2 04 18 pm](https://user-images.githubusercontent.c

[2018-01-25 05:26] khawars commented on #97
Closing this as there is no more conversation on it. Please reopen, if issue is still there.

[2018-01-25 05:26] #97 closed

[2018-02-09 08:07] kishanraiyani03 opened #99 "Autocapitalize words."

[2018-02-09 08:10] kishanraiyani03 opened #100 "Autocapitalize words."
The keyboard should open capital latters first and then small letter.
I have tried the word case  for capitalization.
autocapitalizationType = UITextAutocapitalizationType.words

Basically autocapitalizationType does not work.It always open keyboard with small letters.
Thank you.

[2018-03-10 11:39] samarth220194 opened #101 "How to manage the Scrollview Offset when tokenview is added in a scrollview?"
When I add the TokenView in a scroll view, then after adding a certain amount of tokens, I am not able to see the search table view to add more token, because the scroll view content offset is not set accordingly, How to manage this problem?

Here is the screenshot :
![simulator screen shot - iphone 6s - 2018-03-10 at 17 08 52](https://user-images.githubusercontent.com/17960987/37241833-c39697b6-2

[2018-03-15 13:49] RazvanCosmeanu commented on #101
You should fork the library and make your changes, the maintainer is not open to new functionality -- see the 5 pending pull requests. It is not to say I'm not grateful for the library, I think it's awesome, I just found it better to download it and make it part of the project if you want custom functionality.

[2018-03-16 04:51] samarth220194 commented on #101
Yes, I am working on the library and making my own changes, and now I am successful with my work.

[2018-03-23 21:04] aliuzunoglu opened #102 "Textfield text is not editable"
Textfield text is not editable if you tap on untokenized text it disappears. Is this a bug? if not what is the solution?

[2018-05-08 14:10] bayfatih2000 commented on #13
I face this problem now. Please help me :(

[2018-05-15 05:11] mukulm24 opened #103 "performSearchWithString not being called"
I have setup KSToken view and my delegate is set but performSearchWithString  is not being called.

[2018-05-30 07:33] ShayanSolution opened #104 "How to clear kstokenview textfield with placeholder displaying?"

[2018-06-01 08:25] bayfatih2000 opened #105 "Set token programmatically"
Can I set a default token programmatically?

[2018-06-15 17:23] smartyram opened #106 "Search table does not show when using auto layout with KSTokenView"
When KSTokenView is bound by auto layout constraints the search table will not show.

To see the problem run the attached project and type "one" or "two" you will NOT see the search table.

Now remove the auto layout constraints and rebuild and run. As soon as you type "one" or "two" you will see the search table.

I have attached sample project to reproduce the problem.
[TokenViewTest.zip](https:

[2018-08-28 09:41] hemaks777 commented on #24
Hi,

How can we resize the UITableViewCell based on tokenView height? Kindly provide a solution.

[2018-08-28 12:42] Cressed opened #107 "Delete button in the token"
Is it possible to add a delete button to each token?

[2018-09-10 14:17] smajekp commented on #107
Did you do it?

[2018-09-12 12:47] Cressed commented on #107
@smajekp sorry, no. i didn't really dive further into this.

[2018-09-13 11:01] mohammedsafwat opened #108 "Setting `KSToken` font property"
Hello! First, thanks for the nice library.

I was trying to figure out a way to set the font property on a `KSToken` instance, but unfortunately, I didn't find a way to do that. I see that you set the font to be the system font of size 14 inside the 'drawRect:' method and there's a check happening to see if the `KSToken` instance has a `superview` and if the `superview` is of type `KSTokenField` t

[2018-09-18 05:25] hadwanihardik opened #110 "Can we limit the entry of characters to 10 max?"
Can we it like if user enters 10 digits it crates token automatically and start creating new token after that?

[2018-09-26 09:13] reshadf opened #111 "Swift 4.2 support"
Is this coming soon?

[2019-01-09 08:02] puji26 opened #113 "Index KSTokenView"
how to get index title like tableview

[2019-01-10 23:06] AlexMarshall12 commented on #106
I get around this by using the "Remove at build time" option for the constraints like the height constraint

[2019-02-25 07:12] sagarsnehi commented on #84
I have used this as pod but whenever I am resignresponder for keyboard token view changes into text. please suggest on this.

[2019-02-25 07:23] sagarsnehi opened #114 "tokenview view changes when keyboard hide."
Whenever keyboard hides, tokenview background removes and looks simple text with comma seperator. whenever I showing any alert its view is changing and not looking good please provide solution for keyboard hides view should remain same.  @khawars  reply fast.

[2019-02-25 12:16] sagarsnehi commented on #114
I got solution.

[2019-02-25 12:16] #114 closed

[2019-06-06 11:25] reshadf commented on #52
I had the same issue. After some debugging, I have created a pull request to fix it. However, I don't think the library is maintained very well any longer. @urschaitanya I am not sure if you are still using it but the pending Merge request should fix this issue :)

/cc @khawars

[2019-10-31 06:07] KiranDhokale8118 opened #117 "API not Called performSearchWithString ... please Check"
I have setup KSToken view and my delegate is set but performSearchWithString is not being called if i have accessed all the data from the API.

[2019-11-04 08:14] varun989 opened #118 "TokenView search table does not show up on iOS 13"
The drop-down search table shows up correctly on iOS 12 but not on iOS 13 when used with auto layout

[2021-01-22 11:04] Amar04-reslotetech opened #122 "how to set the value of token ios swift"

[2021-10-17 03:36] SamSundar1 opened #124 "didSelectRowAtIndexPath ignores the latest token. I have attached screenshot about the error. While selecting the tokens it does't print the latest value."
<img width="1129" alt="Screen Shot 2021-10-17 at 2 33 57 PM" src="https://user-images.githubusercontent.com/28752883/137609889-af5ab8d4-d92a-4620-99b8-e43da9c6fd65.png">
How do I get the value as soon as it is selected for table row. I have 4 value selected in a view but only 3 of them are printed in console. The latest value always get discarded. Can some one tell me what's wrong here?

[2021-11-23 09:29] KashishVerma opened #125 "Adding delete button in token"
can anyone guide about how to add delete button in the kstoken?